from selenium import webdriver
from selenium.webdriver.common.by import By
import time
import pandas as pd

class ChromeAuto:
   
    def __init__(self):
        self.chrome = webdriver.Chrome()

  
    def acess(self, site):
        self.chrome.get(site)

   
    def exit(self):
        self.chrome.quit()

    #n
    def login(self, login):
        try:
            input_login = self.chrome.find_element(by=By.XPATH, value='//*[@id="i0116"]')
            input_login.send_keys(login)
        except:
            print('Algo deu errado no login!')

    
    def password(self, senha):
        try:
            input_password = self.chrome.find_element(by=By.XPATH, value='//*[@id="password"]')
            input_password.send_keys(senha)

        except:
            print('Algo deu errado com a senha!')


    def click_button_login(self):
        button_login = self.chrome.find_element(by=By.XPATH, value='//*[@id="organic-div"]/form/div[3]/button')
        button_login.click()

    #Clica em qualquer botão
    def click_generic_button(self, var):
        button_generic = self.chrome.find_element(by=By.XPATH, value=var)
        button_generic.click()

#Instancia dos obejtos
if __name__ == '__main__':
    chrome = ChromeAuto()

